<form
  nz-form
  [nzLayout]="'inline'"
  [formGroup]="headerPaymentForm"
  (ngSubmit)="submitForm()">
  <nz-form-item>
    <input
      type="text"
      nz-input
      formControlName="name"
      placeholder="Наименование платежа*"
      class="payment__name"/>
  </nz-form-item>
  <nz-form-item>
    <label>
      <input
        type="text"
        nz-input
        formControlName="cost"
        placeholder="Стоимость за день"/>
    </label>
  </nz-form-item>
  <nz-form-item>
    <button
      nz-button
      nzType="primary"
      [disabled]="!headerPaymentForm.valid">
      Добавить
    </button>
  </nz-form-item>
</form>
