<nz-table
  #paymentsTable
  [nzData]="payments"
  [nzShowPagination]="false"
  nzBordered
  [nzNoResult]="noResultText"
  [nzTableLayout]="'auto'"
  [nzSize]="'small'">
  <thead>
  <tr>
    <th [nzAlign]="'center'">
      Название платежа
    </th>
    <th [nzAlign]="'center'">
      Стоимость
    </th>
    <th *ngFor="let month of months" [nzAlign]="'center'">
      {{month}}
    </th>
    <th [nzAlign]="'center'">
      Удалить
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of payments; index as paymentIndex">
    <td [nzAlign]="'center'">{{payment.name}}</td>
    <td [nzAlign]="'center'">{{payment.cost}}</td>
    <td *ngFor="let month of months; index as monthIndex" [nzAlign]="'center'">
      <ng-container *ngIf="monthIndex === payment.selectedMonths[monthIndex]">
        <label>
          <input
            nz-checkbox
            type="checkbox"
            checked="checked"
            (click)="handleUnselectedMonth(paymentIndex, monthIndex)"/>
        </label>
      </ng-container>
      <ng-container *ngIf="monthIndex !== payment.selectedMonths[monthIndex]">
        <label>
          <input
            nz-checkbox
            type="checkbox"
            (click)="handleSelectedMonth(paymentIndex, monthIndex)"/>
        </label>
      </ng-container>
    </td>
    <td [nzAlign]="'center'">
      <span (click)="handleDeleteClick(paymentIndex)">
        <i nz-icon [nzType]="'close-circle'" [nzTheme]="'outline'"></i>
      </span>
    </td>
  </tr>
  </tbody>
</nz-table>
