/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.ant-table {
  border: 1px solid #d9d9d9;
}

.anticon-close-circle > svg {
  width: 2rem !important;
  height: 2rem !important;
  cursor: pointer;
}

