<nz-space [nzDirection]="'vertical'">
  <nz-space-item>
    <app-payment-header (addPayment)="addPayment($event)">
    </app-payment-header>
  </nz-space-item>
  <nz-space-item>
    <app-payment-list
      [payments]="payments"
      (deletePayment)="deletePayment($event)"
      (selectMonth)="selectMonth($event)"
      (unselectMonth)="unselectMonth($event)">
    </app-payment-list>
  </nz-space-item>
  <nz-space-item>
    <div *ngIf="sumPayments > 0">
      <p>
        Израсходовано средств: <b>{{sumPayments}}</b>
      </p>
    </div>
  </nz-space-item>
</nz-space>
